<div class="container mt-5">
  <div class="container mt-5">
    <form class="d-flex" (submit)="onSubmit($event, searchInput.value)">
        <!-- Input Field -->
        <input type="text" class="form-control flex-grow-1" placeholder="Please enter an artist name" required #searchInput (input)="validateSearchInput(searchInput.value)">
        <!-- Buttons -->
        <button type="submit" class="btn btn-primary d-flex align-items-center" [disabled]="loading || isInputEmpty">
          Search
          <div
            class="spinner-border spinner-border-sm ms-2"
            role="status"
            *ngIf="loading"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
        <button type="reset" class="btn btn-secondary" (click)="clear(searchInput)">Clear</button>
    </form>
</div>
</div>


<!-- Search Results Section -->
<div class="container mt-5" *ngIf="showResults">
  <!-- Search Results -->
  <div class="row">
    <!-- Show "No results" if artists list is empty -->
    <div class="col-12" *ngIf="artists.length === 0">
      <div class="alert  alert-danger" role="alert">
        No results.
      </div>
    </div>

    <!-- Show cards if artists list is not empty -->
    <div
      class="col-12"
      *ngIf="artists.length > 0"
      style="overflow-x: auto; white-space: nowrap;"
    >
      <div
        class="card d-inline-block me-3"
        *ngFor="let artist of artists"
        (click)="onCardClick(artist)"
        [ngClass]="{ 'clicked': selectedCardId === artist.id }"
        style="cursor: pointer; width: 15rem;"
      >
        <!-- Star Button (positioned above image) -->
        <button
        class="favorite-star btn btn-link position-absolute"
        *ngIf="isAuthenticated"
        (click)="toggleFavorite(artist.id,artist.image); $event.stopPropagation();"
        style="top: 0.5rem; right: 0.5rem;"
        >
        <!-- Conditionally show filled or unfilled star SVG -->
        <ng-container *ngIf="favorite.isFavorite(artist.id); else notFavorite" >
         <!-- Filled Star -->
          <div
            style="display: inline-flex; align-items: center; justify-content: center;
                  width: 40px; height: 40px; background-color: #00559B; border-radius: 50%;">
            <img src="../../images/filled_star.svg" alt="Filled Star" style="width: 24px; height: 24px;">
          </div>
        </ng-container>
        <ng-template #notFavorite>
          <div
          style="display: inline-flex; align-items: center; justify-content: center;
                width: 40px; height: 40px; background-color: #00559B; border-radius: 50%;">
          <img src="../../images/unfilled_star.svg" alt="Unfilled Star" style="width: 24px; height: 24px;">
        </div>
        </ng-template>
        </button>

        <img [src]="artist.image" class="card-img-top " [alt]="artist.name" style="width: 100%; height: 80%; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title" style="white-space: normal;">{{ artist.name }}</h5>
        </div>

      </div>
    </div>
  </div>
</div>




<div class="container mt-4 *ngIf=" *ngIf="showDetails">
  <!-- Tabs Navigation -->
  <ul class="nav nav-pills mb-3 w-100 justify-content-around" id="pills-tab" role="tablist">
    <li class="nav-item flex-grow-1 text-center" role="presentation">
      <button
        class="nav-link active w-100"
        id="artist-info-tab"
        data-bs-toggle="pill"
        data-bs-target="#artist-info"
        type="button"
        role="tab"
        aria-controls="artist-info"
        aria-selected="true"
        (click)="loadArtistInfo()"
      >
        Artist Info
      </button>
    </li>
    <li class="nav-item flex-grow-1 text-center" role="presentation">
      <button
        class="nav-link w-100"
        id="artworks-tab"
        data-bs-toggle="pill"
        data-bs-target="#artworks"
        type="button"
        role="tab"
        aria-controls="artworks"
        aria-selected="false"
        (click)="loadArtworks()"
      >
        Artworks
      </button>
    </li>
  </ul>

  <!-- Tabs Content -->
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="artist-info"
      role="tabpanel"
      aria-labelledby="artist-info-tab"
    >
      <!-- Artist Info Content -->
      <div *ngIf="loadingArtistInfo" class="d-flex justify-content-center align-items-center" style="height: 100px;">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <!-- Artist Details -->
      <div *ngIf="artistInfo">
        <div  class="d-flex flex-column align-items-center text-center">
          <div class="d-flex align-items-center justify-content-center mb-3">
            <h2 class="m-0">{{ artistInfo.name }}</h2>
            <button
              class="favorite-star btn btn-link ms-2"
              *ngIf="isAuthenticated"
              (click)="toggleFavorite(artistInfo.id,artistInfo.image); $event.stopPropagation();"
            >
              <!-- Conditionally show filled or unfilled star SVG -->
              <ng-container *ngIf="favorite.isFavorite(artistInfo.id); else notFavorite">
                <!-- Filled Star -->
                <img src="../../images/filled_star.svg" alt="Filled Star" style="width: 24px; height: 24px;">
              </ng-container>
              <ng-template #notFavorite>
                <!-- Unfilled Star -->
                <img src="../../images/unfilled_star_black.svg" alt="Unfilled Star" style="width: 24px; height: 24px;">
              </ng-template>
            </button>
          </div>

          <!-- Second Line: Nationality and Dates -->
          <p>{{ artistInfo.nationality }} : {{ artistInfo.birthday }} - {{ artistInfo.deathday }}</p>
        </div>


        <div class="text-start">
          <p *ngFor="let paragraph of artistInfo.biography.split('\n')">
            {{ paragraph }}
          </p>
        </div>
      </div>


      <div class="container mt-5" *ngIf="isAuthenticated">
      <h3>Similar Artists</h3>
      <div class="row">
        <!-- Show cards if similar artists list is not empty -->
        <div
          class="col-12"
          *ngIf="similarArtists.length > 0"
          style="overflow-x: auto; white-space: nowrap;"
        >
          <div
            class="card d-inline-block me-3"
            *ngFor="let artist of similarArtists"
            (click)="onCardClick(artist)"
            [ngClass]="{ 'clicked': selectedCardId === artist.id }"
            style="cursor: pointer; width: 15rem;"
          >
            <!-- Star Button (positioned above image) -->
            <button
            class="favorite-star btn btn-link position-absolute"
            *ngIf="isAuthenticated"
            (click)="toggleFavorite(artist.id,artist.image); $event.stopPropagation();"
            style="top: 0.5rem; right: 0.5rem;"
            >
            <!-- Conditionally show filled or unfilled star SVG -->
            <ng-container *ngIf="favorite.isFavorite(artist.id); else notFavorite">
              <div
                style="display: inline-flex; align-items: center; justify-content: center;
                      width: 40px; height: 40px; background-color: #00559B; border-radius: 50%;">
                <img src="../../images/filled_star.svg" alt="Filled Star" style="width: 24px; height: 24px;">
              </div>
            </ng-container>
            <ng-template #notFavorite>
              <div
              style="display: inline-flex; align-items: center; justify-content: center;
                    width: 40px; height: 40px; background-color: #00559B; border-radius: 50%;">
              <img src="../../images/unfilled_star.svg" alt="Unfilled Star" style="width: 24px; height: 24px;">
              </div>
            </ng-template>
            </button>

            <img [src]="artist.image" class="card-img-top " [alt]="artist.name" style="width: 100%; height: 80%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="white-space: normal;">{{ artist.name }}</h5>
            </div>
          </div>
        </div>
      </div>


    </div>
    </div>


    <div
      class="tab-pane fade"
      id="artworks"
      role="tabpanel"
      aria-labelledby="artworks-tab"
    >
      <!-- Artworks Content -->
      <div *ngIf="loadingArtworks" class="d-flex justify-content-center align-items-center" style="height: 100px;">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <!-- Show "No results" if artworks list is empty -->
      <div class="col-12" *ngIf="artworks.length === 0 && !loadingArtworks">
        <div class="alert alert-danger" role="alert">
          No artworks.
        </div>
      </div>
      <div *ngIf="!loadingArtworks" class="row g-4">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let artwork of artworks">
          <!-- Card Container -->
          <div class="card artwork_card text-center">
            <!-- Image on Top -->
            <img [src]="artwork.image" class="card-img-top" [alt]="artwork.title">
            <!-- Card Body -->
            <div class="card-body">
              <p class="card-text ">{{ artwork.title }},{{ artwork.date }}</p>
            </div>
            <!-- View Category Button -->
            <div class="card-footer">
              <div
                (click)="viewCategory(artwork)"
                data-bs-toggle="modal"
                data-bs-target="#categoryModal"
              >
                View Category
              </div>

              <div
                class="modal fade"
                id="categoryModal"
                tabindex="-1"
                aria-labelledby="categoryModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <!-- header -->
                    <div class="modal-header">
                    <!-- Top Section: Image on Left and Name/Date on Right -->
                    <div class="d-flex">
                      <!-- Artwork Image -->
                      <img
                        [src]="selectedArtwork?.image"
                        class="img-fluid me-3"
                        [alt]="selectedArtwork?.title"
                        style="width: 70px; height: 70px; object-fit: cover;"
                      >
                      <!-- Name and Date -->
                      <div class="text-start">
                        <h5>{{ selectedArtwork?.title }}</h5>
                        <h5>{{ selectedArtwork?.date }}</h5>
                      </div>
                    </div>
                      <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                    </div>

                    <!-- body -->
                    <div class="modal-body">
                      <div class="col-12" *ngIf="Category.length === 0 ">
                        <div class="alert alert-danger" role="alert">
                          No categories.
                        </div>
                      </div>
                      <!-- Categories Section -->
                      <div class="row g-4" *ngIf="Category.length > 0">
                        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let category of Category">
                          <div class="card h-100 " style="color:black; background-color: white;">
                            <!-- Category Image -->
                            <img
                              [src]="category.image"
                              class="card-img-top"
                              [alt]="category.name"
                              style="object-fit: cover; height: 150px;"
                            >
                            <!-- Category Title -->
                            <div class="card-body">
                              <p class="card-text">{{ category.name }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

