<div class="d-flex justify-content-center align-items-center ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4">
        <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()"class="needs-validation p-4 border rounded shadow" novalidate>
          <h1 class="mb-4">Register</h1>

          <!-- fullname -->
          <div class = "mb-3">
            <label for="fullname" class="form-label">Fullname</label>
            <input
              type="text"
              id="fullname"
              formControlName="fullname"
              class = "form-control"
              placeholder = "John Doe"
              [ngClass]="{'is-invalid': RegisterForm.get('fullname')?.invalid && RegisterForm.get('fullname')?.touched}"
            >
            <div *ngIf="RegisterForm.get('fullname')?.invalid && RegisterForm.get('fullname')?.touched" class="invalid-feedback">
              Fullname is required.
            </div>
          </div>

          <!-- Email -->
          <div class = "mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class = "form-control"
              placeholder = "Enter email"
              [ngClass]="{'is-invalid': RegisterForm.get('email')?.invalid && RegisterForm.get('email')?.touched}"
            >
            <div *ngIf="RegisterForm.get('email')?.invalid && RegisterForm.get('email')?.touched" class="invalid-feedback">
              <div *ngIf="RegisterForm.get('email')?.errors?.['emailExists']">
                User with this email address already exists.
              </div>
              <div *ngIf="RegisterForm.get('email')?.invalid && RegisterForm.get('email')?.touched && !RegisterForm.get('email')?.errors?.['emailExists']">
                Email must be valid.
              </div>
            </div>
          </div>

          <!-- Password -->
          <div class = "mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class = "form-control"
              placeholder = "Enter password"
              [ngClass]="{'is-invalid': RegisterForm.get('password')?.invalid && RegisterForm.get('password')?.touched}"
            >
            <div *ngIf="RegisterForm.get('password')?.invalid && RegisterForm.get('password')?.touched" class="invalid-feedback">
              Password is required.
            </div>
          </div>
          <button type="submit" [disabled]="RegisterForm.invalid" class="btn btn-primary w-100">Register</button>
          <div class="text-center mt-3">
            Already have an account? <a href="/login" class="text-decoration-none">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
